<html>
<head>
  <%= stylesheet_link_tag "application", :media => "all" , :href => "/assets/dashboard_student.scss" , 'data-turbolinks-track' => true%>
</head>
<body>

<div>
  <%= render partial: "layouts/headerDashboard" %>
</div>


 


  <div class="container">

  	<div class="subjects">
	  	<% @subjects.each do |subject| %>
	  	<div class="subject-box">
	        
	        	   <%= link_to subject.name, root_path, class: "textsubject" %>
	         
	        </div>
	    <% end %>	

  	</div>
        
  </div>

