<html>
<head>
  <%= stylesheet_link_tag "application", :media => "all" , :href => "/assets/dashboard_student.scss" , 'data-turbolinks-track' => true%>
</head>
<body>

<div>
  <%= render partial: "layouts/headerDashboard" %>
  <h1 class="container">Teste</h1>
</div>

  <h1 class="container">Disciplinas:</h1>

  <div class="book-show"></div>

<div class="box">

 


</div>

