// Place all the styles related to the dashboard_student controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@mixin background-tile2 {
  box-sizing: border-box;
  background-color: #600;
  border-radius: 5px;
  border-color: #fff;
  padding: 1.5em 1.25em;
  box-shadow: 3px 3px 5px 6px #ccc;
}

@mixin background-tile {
	box-sizing: border-box;
	background-color: #333;
	border: solid;
	border-radius: 5px;
	border-color: #fff;
	border-width: 7px;
	padding-left: 20px;
	padding-top: 30px;
    box-shadow: 4px 4px 4px 4px #ccc;


}

body{
  background-color: #EEEEEE;
  font-family: Lato, Ubuntu;
}

.navbar {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  
}




.img-center{
  margin: 0 auto;
  margin-top: 240px;
  float: none;
  width: 900px;  
}

.subjects {
	margin-top: 100px;

}

.subject-box {
	text-transform: uppercase;
	height: 100px;
	width: 700px;
	margin-top: 25px;
	font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    font-style: bold;
    color: #fff;

	@include background-tile;
}

.subject-box:hover{
  background-color: #900 !important;
  @include background-tile;
}

.book-info {
	@include background-tile;

	.book-title {
		margin-top: 0;
		font-size: 2em;
	}

	.avg-rating {
		font-size: 1.5em;
		margin-top: 15px;
		margin-bottom: 5px;
	}

	.number-of-reviews {
		font-size: 0.85em;
		font-style: italic;
	}

	.book-author {
		font-size: 1.5em;
		margin-top: 10px;
		margin-bottom: 10px;
		span {
			font-size: 0.80em;
		}	
	}

	.book-desc {
		font-size: 1.05em;
		line-height: 1.5;
		margin-bottom: 15px;
		margin-top: 15px;
	}

}

.text-home{
  margin-top: 10px;
  font-size: 18pt;
  text-align: center;
  color: #AAA;
}

.textindex2{
  margin-top: 90px;
  font-size: 20pt;
  text-align: center;
  color: #000000;
}

.textsubject{
  
  font-size: 20pt;
  text-align: center;
  color: #FFF;
}

.btn-info{
  background-color: #036 !important;
  border-color: #036 !important;

}

.btn-info:hover{
  background-color: #059 !important;
  border-color: #059 !important;
  font-color: #000000;

}