<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #047; border-color: #047;">

  <div class="col-md-1">
    <%= image_tag("fapicon2.png")%>
  </div>


  <div class="container">
    <div class="navbar-header">
      <%= link_to "CodeFAP", dashboard_student_index_path, class: "navbar-brand"%>
    </div>


    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Sair", root_path, class: "navbar-brand" %></li>
    </ul>



    <ul class="nav navbar-nav">
          <li><%= link_to "  |   Listar Disciplinas",root_path%></li>
    </ul>

  </div>

</nav>